{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
    <h1>Liste des employés</h1>
    {% for employe in employes %}
        <a href="{{ path('show_employe', {'id': employe.id}) }}">{{employe}} employé par {{ employe.entreprise}}</a></br>
    {% endfor %}
{% endblock %}
