{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}

    <h1>{{ employe }}</h1>

    <p>
        {{ employe.ville }} <br>
        {{ employe.entreprise }}
    </p>

{% endblock %}
